.combinationOne{
    background-color: #00422C;
    color: #CDF9CD;
    transition: all 0.5s;
}

.combinationTwo{
    background-color: #FFFEDB;
    color: #00422C;
    transition: all 0.5s;
}

.combinationThree{
    background-color: #FFE376;
    color: #00422C;
    transition: all 0.5s;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 3rem;
    position: sticky;
    top: 0;
    left: 0;
    /* background-color: transparent; */
    z-index: 100;
    transition: all 0.5s;
}

.navbar_combinationOne{
    background-color: #00422C;
    color: #CDF9CD;
}

.navbar_combinationTwo{
    background-color: #FFFEDB;
    color: #00422C;
}

.navbar_combinationThree{
    background-color: #FFE376;
    color: #00422C;
}

.navbar_combinationOne:hover{
    color: #00422C;
    background-color: #CDF9CD;  
}

.navbar_combinationTwo:hover{
    background-color: #00422C;
    color: #CDF9CD;  
}

.navbar_combinationThree:hover{
    color: #FFE376;
    background-color: #00422C;
}

.navbar_logo{
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1rem;
    margin-left: 5rem;
}

.navbar_items{
    display: flex;
    align-items: center;
    margin-right: 4rem;
}

.navbar_items p{
    margin: 0;
    margin-right: 1.5rem;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.navbar_login{
    font-weight: 700;
    font-size: 1rem;
    border-radius: 1.5rem;
    margin-left: 1.3rem; 
    padding: 0.3rem 1rem 0.6rem 1rem;
    cursor: pointer;
}

.navbar_login_combinationOne{
    border: 2px solid #CDF9CD;
}

.navbar_login_combinationTwo{
    border: 2px solid #00422C;;
}

.navbar_login_combinationThree{
    border: 2px solid #00422C;;
}

.navbar:hover .navbar_login_combinationOne{
    color: #00422C;
    border: 2px solid #00422C;
}

.navbar:hover .navbar_login_combinationTwo{
    color: #FFFEDB;
    border: 2px solid #FFFEDB;
}

.navbar:hover .navbar_login_combinationThree{
    color: #FFE376;
    border: 2px solid #FFE376;
}

.navbar_signup{
    font-weight: 700;
    font-size: 1rem;
    border-radius: 1.5rem;
    margin-left: 0.6rem; 
    padding: 0.3rem 1rem 0.6rem 1rem;
    cursor: pointer;
}

.navbar_signup_combinationOne{
    background-color: #CDF9CD;
    color: #00422C;
}

.navbar_signup_combinationTwo{
    background-color: #00422C;
    color: #FFFEDB;
}

.navbar_signup_combinationThree{
   background-color: #00422C;
   color: #FFE376;
}

.navbar:hover .navbar_signup_combinationOne{
    background-color: #00422C;
    color: #CDF9CD;
}

.navbar:hover .navbar_signup_combinationTwo{
    background-color: #FFFEDB;
    color: #00422C;
}

.navbar:hover .navbar_signup_combinationThree{
    background-color: #FFE376;
    color: #00422C;
}

.navbar_dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
}

.navbar_dropbtn:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}
  
.navbar_dropdown {
    display: inline-block;
}
  
.navbar_dropdown_content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 80%;
    left: 0;
    box-sizing: border-box;
    padding-left: 43%;
    padding-bottom: 2rem;
}

.navbar_dropdown_content_combinationOne{
    background-color: #CDF9CD;
    color: #00422C;
}

.navbar_dropdown_content_combinationTwo{
    color: #FFFEDB;
    background-color: #00422C;
}

.navbar_dropdown_content_combinationThree{
    color: #FFE376;
    background-color: #00422C;
}
  
.navbar_dropdown_content p {
    color: inherit;
    text-decoration: none;
    text-underline-offset: 5px;
    display: block;
    font-size: 25px;
    font-weight: 500;
    width: 100%;
    padding: 1rem 0;
}
  
.navbar_dropdown_content p:hover {
    text-decoration: underline;
}
  
.navbar_dropdown:hover .navbar_dropdown_content {
    display: block;
}

.hero{
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #00422C;
}

.hero h1{
    font-size: 96px;
    font-style: italic;
    color: rgb(205, 249, 205);
    font-weight: 500;
}

.hero p{
    font-size: 26px;
    font-weight: 500;
    margin: 0;
    color: rgb(205, 249, 205);
    text-align: center;
}

.hero_button{
    font-size: 0.9rem;
    padding: 1.5rem;
    border-radius: 2.5rem;
    margin-top: 3rem;
    font-weight: 800;
    border: 2px solid #CDF9CD;
    cursor: pointer;
}

.hero_button:hover{
    background-color: #CDF9CD;
    color: #00422C;
}

.home_second_image{
    background: url("../../images//homesecondimage.png");
    width: 100%;
    height: 1080px;
    background-position: center;
    background-size: cover;
}

.slider{
    position: relative;
    width: 100%;
    height: 800px;
}

.slider1{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    background-color: #0074e8;
    width: 100%;
}

.slider1_left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider1_left h1{
    font-size: 60px;
    margin: 0;
    font-weight: 500;
}

.slider1_button{
    font-size: 1rem;
    padding: 1.5rem;
    border-radius: 2.5rem;
    margin-top: 3rem;
    font-weight: 700;
    color: #0074e8;
    background-color: #fff;
}

.slider1_right{
    background-image: url("../../images//slider1image.png");
    width: 50%;
    height: 800px;
    background-position: center;
    background-size: cover;
}

.slider2{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    background-color: #0fa573;
    color: #fff;
    display: none;
    width: 100%;
}

.slider2_left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider2_left h1{
    font-size: 60px;
    margin: 0;
    font-weight: 500;
}

.slider2_button{
    font-size: 1rem;
    padding: 1.5rem;
    border-radius: 2.5rem;
    margin-top: 3rem;
    font-weight: 700;
    border: 2px solid #fff;
}

.slider2_right{
    background-image: url("../../images//slider2image.png");
    width: 50%;
    height: 800px;
    background-position: center;
    background-size: cover;
}

.slider3{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    background-color: #133a5e;
    color: #F6FF82;
    display: none;
    width: 100%;
}

.slider3_left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider3_left h1{
    font-size: 60px;
    margin: 0;
    font-weight: 500;
}

.slider3_button{
    font-size: 1rem;
    padding: 1.5rem;
    border-radius: 2.5rem;
    margin-top: 3rem;
    font-weight: 700;
    border: 2px solid #F6FF82;
}

.slider3_right{
    background-image: url("../../images//slider3image.png");
    width: 50%;
    height: 800px;
    background-position: center;
    background-size: cover;
}

.action{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    flex-direction: column;
    padding: 7rem 0;
    background-color: transparent;
}

.action h1{
    font-size: 60px;
    font-weight: 500;
}

.action p{
    font-size: 24px;
    margin: 0;
    font-weight: 500;
    text-align: center;
}

.action_button{
    font-size: 0.9rem;
    padding: 1.5rem;
    border-radius: 2.5rem;
    margin-top: 3rem;
    font-weight: 800;
    border: 2px solid #00422C;
    cursor: pointer;
}

.action_button:hover{
    background-color: #00422C;
    color: #FFFEDB;
}

.home_fourth_image{
    background: url("../../images/homefourthimage.png");
    width: 100%;
    height: 1080px;
    background-position: center;
    background-size: cover;
}

.goals{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    flex-direction: column;
    padding: 7rem 0;
    background-color: transparent;
}

.goals h1{
    font-size: 60px;
    font-weight: 500;
}

.goals p{
    font-size: 24px;
    margin: 0;
    font-weight: 500;
    text-align: center;
}

.goals_button{
    font-size: 0.9rem;
    padding: 1.5rem;
    border-radius: 2.5rem;
    margin-top: 3rem;
    font-weight: 800;
    border: 2px solid #00422C;
    cursor: pointer;
}

.goals_button:hover{
    background-color: #00422C;
    color: #FFE376;
}

.getstarted{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    flex-direction: column;
    padding: 7rem 0;
    background-color: transparent;
}

.getstarted h1{
    font-size: 60px;
    font-weight: 500;
}

.getstarted_button{
    font-size: 0.9rem;
    padding: 1.5rem;
    border-radius: 2.5rem;
    margin-top: 3rem;
    font-weight: 800;
    border: 2px solid #CDF9CD;
    cursor: pointer;
}

.getstarted_button:hover{
    background-color: #CDF9CD;
    color: #00422C;
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(205, 249, 205);
    color: rgb(0, 66, 44);
    padding: 3rem 8rem;
}

.footer_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_left select{
    padding: 1rem;
    width: 250px;
    border: 1px solid #00422C;
    border-radius: 4px;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    color: #00422C;
    margin: 4rem 0;
    cursor: pointer;
}

.footer_left span{
    font-size: 1rem;
    font-weight: 500;
}

.footer_right{
    display: flex;
    font-size: 1.1rem;
}

.footer_right_column{
    padding: 2rem;
}

.footer_right_column ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.footer_right_column ul li{
    margin: 0.6rem 0;
    font-size: 1rem;
    font-weight: 500;
}